.App {
  border: 5px solid #282c34;
  border-radius: 30px;
  overflow: hidden;
  padding: 20px;
  position: relative;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  height: 300px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  display: flex;
  flex-direction: column;
  color: white;
  position: relative; 
  margin-bottom: 8vh;
  top: 10px;
  justify-content: space-between;
}

.App-header .nav {
  z-index: 1;
  display: flex;
  justify-content: space-between;
  padding: 0 5vw;
}

.App-header .nav ul {
  list-style: none;
  color: white;
  display: flex;
  align-items: center;
}

.App-header .nav ul a {
  padding: 5px 10px;
  color: white;
  text-decoration: none;
  border-radius: 10px;
}

.App-header .nav ul a:not(:last-child) {
  margin-right: 10px;
}

.App-header .nav ul a:hover {
  background-color: black;
}

.App-header button {
  min-width: 40px;
  max-width: 10vw;
  display: inline-block;
  padding: 8px;
  border-radius: 8px;
  font-weight: bold;
  border: 2px solid white;
}

.btn-create-thread span {
  margin-left: 2vw;
  display: inline-block;
  font-size: 15px;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: white;
}

.btn-create-thread {
  margin-left: 5vw;
  margin-bottom: 5vh;
  z-index: 1;
}

.App-header button:hover {
  cursor: pointer;
  background-color: #EB455F;
  color: white;
}

.App-header .landscape_1 {
  width: 100%;
  height: 100%;
  background-image: url('/landscape_1.jpg');
  background-size: cover;
  filter: brightness(.7) contrast(1.5);
  position: absolute; 
  border-radius: 30px;
  top: 0;
}

.App-link {
  color: #61dafb;
}

.height-unset {
  height: unset;
}

.bg-dark {
  background-color: #282c34;
}

.mb-0 {
  margin-bottom: 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
